body{
	font-size: 16px;
	background: url('../img/general/background.jpg');
}

.header_top {
    background: none repeat scroll 0 0 #00A258;
}

.contactinfo ul li a {
    color: white;
}

.social-icons ul li a {
    color: white;
}

h2.title {
    color: #333;
    text-transform: initial;
}

.left-sidebar h2, .brands_products h2 {
    color: #00A258;
}

#advertisement img {
    width: initial;
}

.productinfo h2 {
    color: #00A258;
    font-size: 22px;
}

.productinfo p {
    min-height: 42px;
}

.color-green{
	color: #00A258;
}

#advertisement {
    padding-bottom: 5px;
}

.footer-bottom {
    background: #00A258;
    padding-top: 10px;
}

.footer-bottom p {
    color: white;
}

a#scrollUp {
    background: #00A258;
}

.add-to-cart:hover {
    background: #00A258;
}

.btn-success {
    background-color: #00A258;
    border-color: #00A258;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #0F8852;
    border-color: #0F8852;
}

.choose ul li a:hover {
    background: none;
    color: #00A258;
}

.format-img {
    width: 50px;
    margin-right: 10px;
}

.margin-top{
    margin-top: 10px;
}

/*ALERTA*/
.alert[data-notify="container"] {
    z-index: 99999 !important;
    border: 1px solid white;
}
/*ALERTA*/